.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
}

.note
{
    font-size:15px;
    color:black;
}

body
{
    background-size:cover;
}

canvas
{
    border:5px solid rgb(60, 3, 79);
    border-radius:20px;
}
